.number-input {
  appearance: none;
  outline: none;
  border: none;
  font-size: 28px;
  font-weight: 600;
  background: none;
  color: #fff;

  &::placeholder {
    color: #a9a9a9;
    opacity: 1; /* Firefox */
  }

  &:disabled {
    cursor: not-allowed;
    &::placeholder {
      color: #fff;
    }
  }
}
