.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-convert {
      width: 26px;
      height: 26px;
      margin: 10px 0;
    }
  }

  .rate {
    margin: 10px auto 10px 0;
  }

  .btn-swap {
    width: 200px;
    margin-top: 15px;
    padding: 14px 0;
    border: none;
    outline: none;
    border-radius: 26px;
    background: #f9f9f9;
    color: #181818;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background: #e9e9e9;
    }
  }
}
