.token-selector {
  width: fit-content;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 8px;
  font-weight: 600;
  cursor: pointer;
  background: #f9f9f9;
  color: #181818;

  &:hover {
    background: #e9e9e9;
  }
  &.default-selector {
    padding: 0 12px;
  }
}

.img-arrow {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
